.container {
  width: 100%;
  margin: 0 auto;
}

.row {
  display: flex;
  width: 100%;

  background-color: $blue;
  color: $off-white;

  border-top: 1px $dark-blue solid;
}

.rule {
  flex: 0 0 50%;
  padding: 60px 40px;

  // border-right: 1px #3685B5 solid;
}

.sample {
  flex: 0 0 50%;
  padding: 60px 40px;
  overflow: hidden;
}