/*
Orginal Style from ethanschoonover.com/solarized (c) Jeremy Hull <sourdrums@gmail.com>
*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: $blue;
  color: $white;
  font-family: $code-font-stack;
}

.hljs-comment,
.hljs-quote,
#red, {
  color: $pastel-blue;
}

/* Solarized Green */
.hljs-addition,
.hljs-selector-class {
  color: $pine-green;
}

/* Solarized Cyan */
.hljs-number,
.hljs-string,
.hljs-meta .hljs-meta-string,
.hljs-literal,
.hljs-doctag,
.hljs-regexp {
  color: $pastel-yellow;
}

/* Solarized Blue */
.hljs-title,
.hljs-section,
.hljs-name,
.hljs-selector-id,
.hljs-selector-tag, {
  color: $light-blue;
}

/* Solarized Yellow */
.hljs-attribute,
.hljs-attr,
.hljs-template-variable,
.hljs-class .hljs-title,
.hljs-type, {
  color: $pastel-green;
}

.hljs-variable {
  color: $light-blue;
}

/* Solarized Orange */
.hljs-symbol,
.hljs-bullet,
.hljs-subst,
.hljs-meta,
.hljs-meta,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-link,
.hljs-keyword {
  color: $orange;
}

/* Solarized Red */
.hljs-built_in,
.hljs-deletion {
  color: #dc322f;
}

.hljs-formula {
  background: #073642;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

