.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: $blue;
  color: $white;
  font-family: $code-font-stack;
}

.hljs-comment,
.hljs-quote {
  color: $pastel-blue;
}

.hljs-addition,
.hljs-selector-class {
  color: $pine-green;
}

.hljs-number,
.hljs-string,
.hljs-meta .hljs-meta-string,
.hljs-literal,
.hljs-doctag,
.hljs-regexp {
  color: $pastel-yellow;
}

.hljs-title,
.hljs-section,
.hljs-name,
.hljs-selector-id,
.hljs-selector-tag, {
  color: $light-blue;
}

.hljs-attribute,
.hljs-attr,
.hljs-template-variable,
.hljs-class .hljs-title,
.hljs-type, {
  color: $pastel-green;
}

.hljs-variable {
  color: $light-blue;
}

.hljs-symbol,
.hljs-bullet,
.hljs-subst,
.hljs-meta,
.hljs-meta,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-link,
.hljs-keyword {
  color: $orange;
}

.hljs-built_in,
.hljs-deletion {
  color: $red;
}

.hljs-formula {
  background: $off-blue;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

